# Python Virtual Environment
ids-env/

# Python Cache
__pycache__/
*.pyc

# macOS System Files
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints/

# Environment Files
.env

# Dataset Folder
data/

# Output Images
*.png

# CSV Results
*.csv
